@import "tailwindcss";

@font-face {
  font-family: 'Amoresa';
  src: url('./assets/fonts/Amoresa.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Perandory-Regular';
  src: url('./assets/fonts/Perandory-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
  font-family: 'Perandory-Regular';
  
}

.custom-font {
  font-family: 'Perandory-Regular';
}

.font-times-new-roman {
  font-family: "Times New Roman", serif;
}

h1 {
  font-family: 'Amoresa';
  font-weight: lighter;
  padding-top: 4rem;
}

/* Pastel background */
/* body {
  background: linear-gradient(
      135deg,
      #e1c0e0fa 8%,
      #91c1ffcb 20%,
      #e2caf5 60%,
      #b6e5d5 100%
    );
  min-height: 100vh;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
} */

.bg-home-gradient {
  background: linear-gradient(
    135deg,
    #e1c0e0fa 8%,
    #91c1ffcb 20%,
    #e2caf5 60%,
    #b6e5d5 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
}

.bg-dots {
  position: relative;
  z-index: 0;
}

.bg-dots::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px);
  background-size: 3px 3px;
  pointer-events: none;
  mix-blend-mode: overlay;
  z-index: 1;
}


#root {
  position: relative;
  z-index: 2;
  --clr-home: #ffeefd;
  --clr-tech: #d7e8ff;
  --clr-advocacy: #ffd6e8;
  --clr-creative: #e7d6ff;
  --clr-blog: #d6efff;
  --clr-contact: #d9f9e0;
}

span:first-letter {
  font-family: 'Amoresa' !important;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* CodeDeveloper */

.page-bg-blue {
  background: #6ba5f1cb;
  background-attachment: fixed;
  min-height: 100vh;
}

.page-bg-pink {
  background: #FFD6F3;
  background-attachment: fixed;
  min-height: 100vh;
}

.page-bg-green {
  background: #a9d9b5;
  background-attachment: fixed;
  min-height: 100vh;
}
